# Configure MySQL default username/password
# Create a file or copy at the path '/etc/mysql/my.cnf'
# Author: Rohtash Lakra
[client]
# Users & Passwords
user     = username
password = password
#port     = 3306
#validate-password = off
